.RollDice button{
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius:10px ;
    color: snow;
    background-color: slateblue;
   
}

.RollDice button:hover{
    background-color: slategray;
    cursor: pointer;
}

.RollDice{
    display: flex;
    flex-flow:column  nowrap;
    min-height: 100vh;
}
.dice{
    display: flex;
    justify-content: center;
    align-content: center;
}
